<div class="table_field">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="3px" class="float-left">
    <button class="btn btn-primary" (click)="onAdd()" *hasPermission="2">新增</button>
    <button class="btn btn-warning" (click)="onEdit()" [disabled]="selected == null" *hasPermission="3">編輯</button>
    <button class="btn btn-danger" (click)="onDelete()" [disabled]="selected == null" *hasPermission="4">刪除</button>
  </div>
  <div class="text-right fieldinput">
    <mat-form-field>
      <input matInput placeholder="快速搜尋" [(ngModel)]="search">
    </mat-form-field>
  </div>
  <mat-card>
    <mat-card-content>
     
      <sepv-table #namiTable [search]="search" [config]="table_config" [maxTableHeight]="maxTableHeight"
        [minTableHeight]="minTableHeight" [dataSource]="dataSource" (select)="onSelect($event)">
      </sepv-table>
    </mat-card-content>
  </mat-card>
</div>
