<div class="modal-header">
  <h1 class="modal-title">{{title}}</h1>
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross Click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form" [formGroup]="formGroup" >
    <div class="form-group">
      <div class="form-name">
        <label for="old_password">舊密碼</label>
      </div>
      <div class="form-input">
        <input type="password" id="old_password" formControlName="old_password" [class.invalid]="isError('old_password')" />
        <small class="text-danger" *ngIf="errorType('old_password', 'maxlength')">*不可超過30字元<br></small>
        <small class="text-danger" *ngIf="errorType('old_password', 'pattern')">*數字、字母、符號至少兩種，大於8字元</small>
      </div>
    </div>
    <div class="form-group">
      <div class="form-name">
        <label for="new_password">新密碼</label>
      </div>
      <div class="form-input">
        <input type="password" id="new_password" formControlName="new_password" [class.invalid]="isError('new_password')" />
        <small class="text-danger" *ngIf="errorType('new_password', 'maxlength')">*不可超過30字元<br></small>
        <small class="text-danger" *ngIf="errorType('new_password', 'pattern')">*數字、字母、符號至少兩種，大於8字元</small>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-cancel" (click)="modal.dismiss('cancel click')">取消</button>
    <button type="button" class="btn btn-danger" (click)="submit()"
      [disabled]="!formGroup.valid || formGroup.pristine">確認</button>
  </div>
</div>
