# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Angular generated
/dist
/tmp
/out-tsc
/.angular

# Node
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.sublime-project
.vscode/
*.code-workspace

#
