<div class="table_field">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="3px" class="float-left">
    <button class="btn btn-primary" (click)="onAdd()" *hasPermission="2">新增</button>
    <button class="btn btn-warning" (click)="onEdit()" [disabled]="selected == null" *hasPermission="3">編輯</button>
    <button class="btn btn-danger" (click)="onDelete()" [disabled]="selected == null" *hasPermission="4">刪除</button>
  </div>
  <input type="file" #xlsx id="xlsx" name="xlsx" multiple="multiple"
    accept="image/png,image/jpg,.doc, .docx,.pdf,.xlsx" style="display:none;" />
  <div class="text-right fieldinput">
    <mat-form-field>
      <input matInput placeholder="快速搜尋" [(ngModel)]="search">
    </mat-form-field>
  </div>
  <mat-card>
    <mat-card-content>
      <ng-container *ngIf="!loaded">
        讀取中...
      </ng-container>
      <sepv-table #namiTable [search]="search" [config]="table_config" [maxTableHeight]="maxTableHeight" 
        [minTableHeight]="minTableHeight" [dataSource]="dataSource" (select)="onSelect($event)" [hidden]="!loaded" >
      </sepv-table>
    </mat-card-content>
  </mat-card>
</div>
