
.mat-icon {
   vertical-align: middle;
}
.default{
   height:200;
   width:300;
}
ul,
li {
      margin: 0;
      padding: 0;
      list-style: none;
}
img{
    cursor: pointer;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    border-radius: 10px;
}
