<div class="image-gallery-container">
  <mat-card class="shadow-none border">
    <mat-card-content>
      <div class="row g-3">
        <div class="col-xl-3 col-lg-4 col-md-6" *ngFor="let img of imgURL; let i = index">
          <div class="image-item-card">
            <div class="img-box" (click)="showLightbox(i)">
              <img [src]="sanitize(img)" class="main-img">
              <button mat-mini-fab color="warn" class="btn-delete-overlay" 
                      (click)="deleteCloudFile(dataname[i].name); $event.stopPropagation()">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
            <div class="img-info">
              <span class="file-name" [matTooltip]="dataname[i]?.name">{{ dataname[i]?.name }}</span>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6" *ngFor="let file of files; let j = index">
          <div class="image-item-card pending">
            <div class="img-box" (click)="showLightbox(j + imgURL.length)">
              <img [src]="file.url" class="main-img">
              <button mat-icon-button class="btn-cancel-overlay" 
                      (click)="cancel(j); $event.stopPropagation()" *ngIf="file.progress != 100">
                <mat-icon>close</mat-icon>
              </button>
              <div class="upload-overlay" *ngIf="file.inProgress">
                <mat-progress-spinner mode="determinate" [value]="file.progress" diameter="40"></mat-progress-spinner>
                <span class="progress-text">{{file.progress}}%</span>
              </div>
            </div>
            <div class="img-info">
              <span class="file-name text-truncate">{{ file.namedate + file.data.name }}</span>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions class="border-top">
      <div class="row w-100 m-0">
        <div class="col-6 p-1">
          <button mat-stroked-button color="primary" class="w-100" (click)="onClick()">
            <mat-icon>add_photo_alternate</mat-icon> 選擇圖片
          </button>
        </div>
        <div class="col-6 p-1">
          <button mat-raised-button color="warn" class="w-100" (click)="uploadFiles()" [disabled]="files.length === 0">
            <mat-icon>cloud_upload</mat-icon> 開始上傳
          </button>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>
  <input type="file" #fileUpload id="fileUpload" name="fileUpload" multiple="multiple" accept="image/png,image/jpeg"
    style="display:none;" />
</div>

<ng-image-fullscreen-view 
  [images]="imageObject" 
  [imageIndex]="selectedImageIndex" 
  [show]="showFlag"
  (close)="closeEventHandler()" 
  [paginationShow]="true">
</ng-image-fullscreen-view>