<div class="modal-header">
  <h1 class="modal-title">{{ title }}</h1>
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross Click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class="form" [formGroup]="formGroup">

    <!-- ps_id -->
    <div class="form-group">
      <div class="form-name">
        <label for="ps_id">購電業電號</label>
      </div>
      <div class="form-input">
        <ng-select 
          [items]="infolist"
          bindValue="id"
          bindLabel="power_no"
          [clearable]="false"
          formControlName="ps_id"
          [class.invalid]="isError('ps_id')"
          [notFoundText]="'沒有找到符合的項目'">
        </ng-select>
        <small class="text-danger" *ngIf="errorType('ps_id', 'required')">*必填欄位</small>
      </div>
    </div>

    <!-- ps_site_name -->
    <div class="form-group">
      <div class="form-name">
        <label for="ps_site_name">機組名稱</label>
      </div>
      <div class="form-input">
        <input type="text" id="ps_site_name" formControlName="ps_site_name" [class.invalid]="isError('ps_site_name')" />
        <small class="text-danger" *ngIf="errorType('ps_site_name', 'maxlength')">*長度超過30字元</small>
      </div>
    </div>

    <!-- surplus_rate -->
    <div class="form-group">
      <div class="form-name">
        <label for="surplus_rate">餘電費率</label>
      </div>
      <div class="form-input">
        <input type="text" id="surplus_rate" formControlName="surplus_rate" [class.invalid]="isError('surplus_rate')" />
        <small class="text-danger" *ngIf="errorType('surplus_rate', 'decimal')">*格式錯誤（最多四位小數）</small>
      </div>
    </div>

    <!-- description -->
    <div class="form-group">
      <div class="form-name">
        <label for="description">說明</label>
      </div>
      <div class="form-input">
        <input type="text" id="description" formControlName="description" [class.invalid]="isError('description')" />
        <small class="text-danger" *ngIf="errorType('description', 'maxlength')">*長度超過50字元</small>
      </div>
    </div>

    <!-- total_kwp -->
    <div class="form-group">
      <div class="form-name">
        <label for="total_kwp">建置容量 (kWp)</label>
      </div>
      <div class="form-input">
        <input type="text" id="total_kwp" formControlName="total_kwp" [class.invalid]="isError('total_kwp')" />
        <small class="text-danger" *ngIf="errorType('total_kwp', 'decimal')">*格式錯誤（最多三位小數）</small>
      </div>
    </div>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-cancel" (click)="modal.dismiss('cancel click')">取消</button>
    <button type="button" class="btn btn-danger" (click)="submit()" [disabled]="!formGroup.valid || formGroup.pristine">確認</button>
  </div>
</div>
