<div class="modal-header">
  <h1 class="modal-title">{{ title }}</h1>
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross Click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form" [formGroup]="formGroup">
<!-- surplus_id -->
    <div class="form-group">
      <div class="form-name">
        <label for="surplus_id">機組名稱</label>
      </div>
      <div class="form-input">
        <ng-select 
          [items]="infolist"
          bindValue="id"
          bindLabel="ps_site_name"
          [clearable]="false"
          formControlName="surplus_id"
          [class.invalid]="isError('surplus_id')"
          [notFoundText]="'沒有找到符合的項目'">
        </ng-select>
        <small class="text-danger" *ngIf="errorType('surplus_id', 'required')">*必填欄位</small>
      </div>
    </div>
    <!-- bill_year -->
    <div class="form-group">
      <div class="form-name">
        <label for="bill_year">年</label>
      </div>
      <div class="form-input">
        <input type="number" id="bill_year" formControlName="bill_year" [class.invalid]="isError('bill_year')" />
        <small class="text-danger" *ngIf="errorType('bill_year', 'required')">*必填欄位</small>
        <small class="text-danger" *ngIf="errorType('bill_year', 'min') || errorType('bill_year', 'max')">*請輸入合理年份 (1900~2100)</small>
      </div>
    </div>

    <!-- bill_month -->
    <div class="form-group">
      <div class="form-name">
        <label for="bill_month">月</label>
      </div>
      <div class="form-input">
        <input type="number" id="bill_month" formControlName="bill_month" [class.invalid]="isError('bill_month')" min="1" max="12" />
        <small class="text-danger" *ngIf="errorType('bill_month', 'required')">*必填欄位</small>
        <small class="text-danger" *ngIf="errorType('bill_month', 'min') || errorType('bill_month', 'max')">*請輸入 1 至 12 月</small>
      </div>
    </div>

    <!-- surplus_kwh -->
    <div class="form-group">
      <div class="form-name">
        <label for="surplus_kwh">餘電度數 (kWh)</label>
      </div>
      <div class="form-input">
        <input type="number" id="surplus_kwh" formControlName="surplus_kwh" [class.invalid]="isError('surplus_kwh')" />
        <small class="text-danger" *ngIf="errorType('surplus_kwh', 'min')">*不可為負數</small>
      </div>
    </div>

    <!-- surplus_amount -->
    <div class="form-group">
      <div class="form-name">
        <label for="surplus_amount">餘電費用</label>
      </div>
      <div class="form-input">
        <input type="number" id="surplus_amount" formControlName="surplus_amount" [class.invalid]="isError('surplus_amount')" />
        <small class="text-danger" *ngIf="errorType('surplus_amount', 'required')">*必填欄位</small>
        <small class="text-danger" *ngIf="errorType('surplus_amount', 'min')">*不可為負數</small>
      </div>
    </div>

    

    <!-- description -->
    <div class="form-group">
      <div class="form-name">
        <label for="description">說明</label>
      </div>
      <div class="form-input">
        <input type="text" id="description" formControlName="description" [class.invalid]="isError('description')" />
        <small class="text-danger" *ngIf="errorType('description', 'maxlength')">*長度超過50字元</small>
      </div>
    </div>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-cancel" (click)="modal.dismiss('cancel click')">取消</button>
    <button type="button" class="btn btn-danger" (click)="submit()" [disabled]="!formGroup.valid || formGroup.pristine">確認</button>
  </div>
</div>
