<div class="modal-header">
  <h1 class="modal-title">{{ title }}</h1>
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross Click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class="form" [formGroup]="formGroup">
    
    <div style="padding-left: 1%"><h2>基本資訊</h2></div>
    <div class="row">
      <div class="col-md-6 form-group">
        <div class="form-name"><label for="name">客戶名稱</label></div>
        <div class="form-input">
          <input type="text" id="name" formControlName="name" [class.invalid]="isError('name')" />
          <small class="text-danger" *ngIf="errorType('name', 'required')">*必填</small>
        </div>
      </div>
      <div class="col-md-6 form-group">
        <div class="form-name"><label for="tax_id_no">統一編號</label></div>
        <div class="form-input">
          <input type="number" id="tax_id_no" formControlName="tax_id_no" />
        </div>
      </div>
      <div class="col-md-6 form-group">
        <div class="form-name"><label for="industry_crm">產業別 CRM</label></div>
        <div class="form-input">
          <ng-select id="industry_crm" [items]="crmlist" bindValue="code" bindLabel="description" [clearable]="true"
            formControlName="industry_crm" [class.invalid]="isError('industry_crm')" [notFoundText]="'查無資料'"  >
          </ng-select>
        </div>
      </div>
      <div class="col-md-6 form-group">
        <div class="form-name"><label for="decision_level">決策層級</label></div>
        <div class="form-input">
          <input type="text" id="decision_level" formControlName="decision_level" />
        </div>
      </div>
    </div>

    <div style="padding-left: 1%"><h2>技術現況</h2></div>
    <div class="row">
      <div class="col-md-6 form-group">
        <div class="form-name"><label for="existing_plm">現有 PLM</label></div>
        <div class="form-input">
          <input type="text" id="existing_plm" formControlName="existing_plm" />
        </div>
      </div>
      <div class="col-md-6 form-group">
        <div class="form-name"><label for="existing_cad">現有 CAD</label></div>
        <div class="form-input">
          <input type="text" id="existing_cad" formControlName="existing_cad" />
        </div>
      </div>
    </div>

    <div style="padding-left: 1%"><h2>聯絡資訊</h2></div>
    <div class="row">
      <div class="col-md-6 form-group">
        <div class="form-name"><label for="contact">主要聯絡人</label></div>
        <div class="form-input"><input type="text" id="contact" formControlName="contact" /></div>
      </div>
      <div class="col-md-6 form-group">
        <div class="form-name"><label for="telephone">聯絡資訊</label></div>
        <div class="form-input"><input type="text" id="telephone" formControlName="telephone" /></div>
      </div>
      
      <div class="col-md-6 form-group">
        <div class="form-name"><label for="contact2">聯絡人 2</label></div>
        <div class="form-input"><input type="text" id="contact2" formControlName="contact2" /></div>
      </div>
      <div class="col-md-6 form-group">
        <div class="form-name"><label for="telephone2">聯絡資訊 2</label></div>
        <div class="form-input"><input type="text" id="telephone2" formControlName="telephone2" /></div>
      </div>

      <div class="col-md-6 form-group">
        <div class="form-name"><label for="contact3">聯絡人 3</label></div>
        <div class="form-input"><input type="text" id="contact3" formControlName="contact3" /></div>
      </div>
      <div class="col-md-6 form-group">
        <div class="form-name"><label for="telephone3">聯絡資訊 3</label></div>
        <div class="form-input"><input type="text" id="telephone3" formControlName="telephone3" /></div>
      </div>

       <div class="col-md-6 form-group">
        <div class="form-name"><label for="contact4">聯絡人 4</label></div>
        <div class="form-input"><input type="text" id="contact4" formControlName="contact4" /></div>
      </div>
      <div class="col-md-6 form-group">
        <div class="form-name"><label for="telephone4">聯絡資訊 4</label></div>
        <div class="form-input"><input type="text" id="telephone4" formControlName="telephone4" /></div>
      </div>

       <div class="col-md-6 form-group">
        <div class="form-name"><label for="contact5">聯絡人 5</label></div>
        <div class="form-input"><input type="text" id="contact5" formControlName="contact5" /></div>
      </div>
      <div class="col-md-6 form-group">
        <div class="form-name"><label for="telephone5">聯絡資訊 5</label></div>
        <div class="form-input"><input type="text" id="telephone5" formControlName="telephone5" /></div>
      </div>
    </div>

    <div style="padding-left: 1%"><h2>其他說明</h2></div>
    <div class="row">
      <div class="col-md-12 form-group">
        <div  >
          <textarea style="width: 100%;" id="description"  formControlName="description" rows="3"></textarea>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-cancel" (click)="modal.dismiss('cancel click')">取消</button>
  <button type="button" class="btn btn-danger" (click)="submit()" [disabled]="!formGroup.valid || formGroup.pristine">確認</button>
</div>